<html ng-app='app'>
<head>
	<title>Iniciando com o Angular.js</title>
	<meta charset='utf-8' />
	<link rel="stylesheet" type="text/css" href="css/reset.css">
	<link rel="stylesheet" type="text/css" href="css/style.css">
</head>
<body ng-controller='controller1'>

	<div class='mask'>
		<div class='center'>
			<button ng-click='fecharModal()'>FECHAR</button>
			<div ng-repeat='musica in discoSelecionado'>
				{{musica.desc}}
			</div>
		</div>
	</div>
	<div id='container'>
		<div class='album' ng-repeat='album in albuns' ng-click='buscarMusicas($index)'>
			<img src="http://s2.vagalume.com{{album.cover}}">
		</div>
	</div>

	<form ng-submit='procurar()'>
		<div id='centerProcura'>
			<input id='inputArtista' type='text' placeholder='Nome do artista' ng-model='artista'>
			<input id='botaoBuscar' type='submit' value='Procurar'>
		</div>
	</form>

	<script type="text/javascript" src='js/angular.min.js'></script>
	<script type="text/javascript" src='js/app.js'></script>
</body>
</html>